  <h2>Todo</h2>
  <hr>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <button type="button" class="btn btn-outline-primary btn-lg btn-block" (click)="open(modalTask, taskId)">Create Task</button>
    </div>
  </div>
  <br>
  <div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-body">
        <ul class="list-group">
          <ng-container *ngFor="let task of tasks">
            <li class="list-group-item d-flex justify-content-between align-items-center {{task.class}}" *ngIf="task.user_id == user_id">
              {{ task.name }}
              <span class="badge badge-primary badge-pill">{{ task.priority }}</span>
              <span>{{ task.deadline | date }}</span>
              <button type="button" class="btn btn-outline-info" (click)="open(modalTaskEdit, task.id)"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
              <button type="button" class="btn btn-outline-danger" (click)="deleteTask(task.id)"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #modalTask let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Task</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form  #ntask="ngForm" (ngSubmit)="newTask( ntask ); c('Close click')" novalidate="">
      <div class="form-group">
        <input [ngModel]="task.name"
               name="name"
               class="form-control"
               type="text"
               required
               placeholder="Write to a task..."
               #name="ngModel">
        <div *ngIf="name.errors?.required">
          Required.
        </div>
      </div>
      <div class="form-group">
        <input [ngModel]="task.priority"
               name="priority"
               class="form-control"
               type="number"
               min="1" max="10"
               required
               #priority="ngModel">
        <div *ngIf="priority.errors?.required">
          Required.
        </div>
      </div>
      <div class="form-group">
        <input [ngModel]="task.deadline"
               name="deadline"
               class="form-control"
               type="date"
               required
               #deadline="ngModel">
        <div *ngIf="deadline.errors?.required">
          Required.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
        <button type="submit" class="btn btn-primary">Save Task</button>
      </div>

    </form>
  </div>
</ng-template>

  <ng-template #modalTaskEdit let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Edit Task {{ task.name }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  #form="ngForm" (ngSubmit)="editTask( form ); c('Close click')" novalidate="">
        <div class="form-group">
          <input [ngModel]="task.name"
                 name="name"
                 class="form-control"
                 type="text"
                 required
                 placeholder="Write to a task..."
                 #name="ngModel">
          <div *ngIf="name.errors?.required">
            Required.
          </div>
        </div>
        <div class="form-group">
          <input [ngModel]="task.priority"
                 name="priority"
                 class="form-control"
                 type="number"
                 min="1" max="10"
                 required
                 #priority="ngModel">
          <div *ngIf="priority.errors?.required">
            Required.
          </div>
        </div>
        <div class="form-group">
          <input [ngModel]="task.deadline"
                 name="deadline"
                 class="form-control"
                 type="date"
                 required
                 #deadline="ngModel">
          <div *ngIf="deadline.errors?.required">
            Required.
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
          <button type="submit" class="btn btn-primary">Save Task</button>
        </div>

      </form>
    </div>
  </ng-template>
