  <h2>Users Backend</h2>
  <hr>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <button type="button" class="btn btn-outline-primary btn-lg btn-block" (click)="open(modalUser)">Create Users</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <ul class="list-group">
            <ng-container *ngFor="let user of users">
              <li class="list-group-item d-flex justify-content-between align-items-center" >
                <span>{{ user.email }}</span>
                <span>{{ user.role}}</span>
                <button type="button" class="btn btn-outline-danger" (click)="deleteUser(user.id)" *ngIf="user.id != user_id"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <ng-template #modalUser let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Add User</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  #nuser="ngForm" (ngSubmit)="newUser( nuser ); c('Close click')" novalidate="">
          <div class="form-group">
            <input [ngModel]="user.email"
                   name="email"
                   class="form-control"
                   type="email"
                   placeholder="Email"
                   required
                   pattern="[_a-z0-9-]+(.[_a-z0-9-]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,4})$"
                   #email="ngModel">
            <div *ngIf="email.errors?.required">
              Required.
            </div>
            <div *ngIf="email.errors?.pattern">
              Email format not valid.
            </div>
          </div>
          <div class="form-group">
            <input [ngModel]="user.password"
                   name="password"
                   class="form-control"
                   type="password"
                   placeholder="Password"
                   minlength="5"
                   required
                   #password="ngModel">
            <div *ngIf="password.errors?.required">
              Required.
            </div>
            <div  *ngIf="password.errors?.minlength">
              Longitud mínima {{ password.errors.minlength.requiredLength }} characters.
            </div>
          </div>
          <div class="form-group">
            <label for="role">Rol</label>
            <select [ngModel]="user.role" name="role" class="form-control" id="role" required>
              <option value="user" selected>User</option>
              <option value="admin">Admin</option>
            </select>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
          <button type="submit" class="btn btn-primary">Save User</button>
        </div>
      </form>
    </div>
  </ng-template>
