<nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand">
    <span class="navbar-brand mb-0 h1">Todo Client</span>
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="user.role == 'admin'">
        <a class="nav-link" [routerLink]="['/users']">Users (Backend)</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <span class="user">{{ user.email }}</span></li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-secondary" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>
