<div class="container main">
  <div class="row">
    <div class="col-md-8 offset-md-2 well">
      <div class="card card-body dark">
        <div class="p-3">
          <h2>Login</h2>
          <hr>
          <form #form="ngForm" (ngSubmit)="login( form )" novalidate="">
            <div class="form-group">
              <input [ngModel]="user.email"
                     name="email"
                     class="form-control"
                     type="email"
                     required
                     placeholder="Email"
                     pattern="[_a-z0-9-]+(.[_a-z0-9-]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,4})$"
                     #email="ngModel">
              <div *ngIf="email.errors?.required">
                Required.
              </div>
              <div *ngIf="email.errors?.pattern">
                Email format not valid.
              </div>
            </div>
            <div class="form-group">
              <input [ngModel]="user.password"
                     name="password"
                     class="form-control"
                     type="password"
                     required
                     minlength="5"
                     placeholder="Contraseña"
                     #password="ngModel">
              <div *ngIf="password.errors?.required">
                Required.
              </div>
              <div  *ngIf="password.errors?.minlength">
                Longitud mínima {{ password.errors.minlength.requiredLength }} characters.
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

